.navbar-nav {

	li {
		float: none;
		height: 100px;
		display: table-cell;
		vertical-align: middle;
		@include transition($btn-trans-time, $btn-ease);

		a:hover {
			background-color: transparent;
		}
	}
	
}

.navbar {
	height: 100px;
	padding: 0 3%;
	@include transition($btn-trans-time, $btn-ease);

	.logo-reg {
		display: inline-block;
		@include transition($btn-trans-time, $btn-ease);
	}

	.logo-sm {
		display: none;
		@include transition($btn-trans-time, $btn-ease);
	}
}

.navbar-header {
	height: 100px;
	@include transition($btn-trans-time, $btn-ease);
}

.navbar-light {
	height: 70px;
	background-color: $color-white;
	border-color: $color-purple;
	border-style: solid;
	border-bottom-width: $border-width-big;
	@include transition($btn-trans-time, $btn-ease);

	a {
		color: $color-grey;
	}

	a:hover {
		color: $color-purple;
	}

	.navbar-header {
		height: 70px;
	}

	li {
		height: 70px;
		@include transition($btn-trans-time, $btn-ease);
	}

	.logo h1 {
		margin-top: 10px;
		font-size: $font-size-md;
		@include transition($btn-trans-time, $btn-ease);
	}

	.logo-reg {
		display: none;
		@include transition($btn-trans-time, $btn-ease);
	}

	.logo-sm {
		display: inline-block;
		@include transition($btn-trans-time, $btn-ease);
	}
}

.logo {
	float: left;

	img {
		display: inline-block;
		float: left;
	}

	h1 {
		margin: 0px;
		margin-left: 20px;
		margin-top: 20px;
		float: left;
		color: $color-purple;
	}
}